body{
  background: #f2f2f2;
  font-family: arial;
}

div {
  margin: 20px 0;
}

.btn{
  background: #32021f;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  padding: 15px 20px;
  display: inline-block;
  margin: 0 10px;

}
.smal{
  font-size: 15;
  padding: 10px 15px;
}

.medi{
  padding: 15px 20px;
}

.btn:hover{
  opacity: .8;
}
.azul{background: blue;}
.verde{background: green;}

.border-re{
  border-radius: 100px;
}
