body{
  background: #f2f2f2;
  font-family: arial;
  color:#fff;
}

h1, p, div{
  background: #ccc;
}
div{
  padding: 10px;
}
p{
  width: 505px;
}
a{
  color: #fff;
  background: #000;
}
