 body {
  /* background: url('img/imagen.jpg');
  background-repeat: no-repeat;
  background-size: 50%;
  background-attachment: fixed;
  background-position: 50px 200px; */
}
/* el fixed permite que la imgan se mantenga en la
posiconn de la pantalla */

.fondo{
  width: 600px;
  height: 600px;
  background: url('img/imagen.jpg') blue;
  /* o puede cambiarlo a negro con #000 */
  background-repeat: no-repeat;
  background-size: 50% ;
  /* se puede agregar otro porcentaje que sera Y ya que la primera
  es X */

}

/* p{
  color:red;
} */
