/* ul,ol{
  list-style: none;
  padding: 0;
} */

ul {
  list-style: square;
  list-style-image: url('img/comprobado.png');
}

ol{
  list-style: lower-roman;
}

.menu{
  background: #4357ad;
  width: 200px;
  padding: 0;
  list-style: none;
  text-align: center;
}
.menu li{
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.menu li a {
  display: block;
  padding: 15px;
  color: #fff;
  text-decoration: none;
}

.menu li a:hover{
  background: #4888d6;1234
}
