.{
  padding:0;
  margin: 0;

}

body {
  background: #f2f2f2;
}

.caja{
  width: 200px;
  height: 200px;
  background:blue;
  margin: 20px;
}

.cajapadre{
  margin: 20px;
  background: #2e294e;
  width:500px;
  height: 500px;
  position: relative;
}

.posiciondos{
  background: #6695e8;
  position: absolute;
  right: 0%;

}
.posicionada{
  background:  red;
  position: relative;
  top: 10px;
  left: 220px
}

.posiciontres{
  float: left;
}
