* {
   margin: 0;
  padding: 0;
}

body{
  background: #000500;
}

.galeria{
  width: 100%;

}

.galeria img{
  vertical-align: top;
  width: 40%;
  margin: 20px;
  padding: 5px;
  opacity: 0.5;
  border: 5px solid gray;
}

.galeria img:hover{
  opacity: 1;
  border:5px solid white;
}
