p::first-letter{
  font-size: 40px;
  font-weight: bold;
}

p::first-line{
  background: #cf5c36;
}

*::selection{
  background: red;
  color: white;
}
/* selection cambia el color al momento de seleccionar */

.caja {
  background: orange;
  height: 150px;
  width: 150px;

}

.caja::before{
  content: 'contenido antes de la caja ';
  display: block;
  background: #3a3a3a;
  color: #fff;
  position: relative;
  left: 50px;
}

.caja::after{
  content: '';
  width: 180px;
  height: 180px;
  display: block;
  background: black;
  position: relative;
  left: 100px;

}
