body{
  font-family: Arial;
  background: #f2f2f2;
}

div, a {
  background: #ccc
}

a{
  /* display: none; */
  /* lo elimina none  */
  /* visibility:hidden; */
  /* lo oculta */

  background: #246eb9;
  color:#fff;
  padding: 20px;
  display: inline-block;
}

.caja{
  color: #fff;
  background: #4fb560;
  margin: 50px 30px;
  width: 200px;
  height: 250px;
  overflow: auto;
  /* el overflow: hiden limite el cambio autonamtico
  del texto o del contenido al activarlo no muestro
  lo que esta dentro de este y sin este muestra todo */
}
.contenedor{
  width: 500px;
  background: yellow;
  margin: 20px 20px;
  overflow: hidden;
}
.izquierdo{
  float: left;
}
.derecho{
  float: right;
}

.contenedordos .caja{
  width: 250px;
  height: 150px;
  position: relative;
}

.azul{
  background: #009ddc;
  z-index: 10;
}
.gris{
  background: #32021f;
  left: 50px;
  bottom: 80px;
  z-index: 9;
}
